.btn {
    padding: 10px 20px;
    min-width: 250px;
    border-radius: 15px;
    border: none;
    background-color: #e34f00;
    color: #fff;
    transition: .3s ease;
    font-size: 1.3em;
}

.btn:hover {
    background-color: #e05f1a;
}