.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.question {
    background-color: #a5e489;
    /* A7F3D0 */
    /* D1FAE5 */
    /* daffbe */
    min-height: 300px;
    max-width: 300px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
}

.question h3 {
    font-size: 1.8em;
    text-align: center;
}

.question div {
    color: #fff;
    /* height: 250px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.alternatives {
    width: 250px;
    border-radius: 15px;
    text-align: center;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: 500;
    outline: none !important;
    border: none;
    transition: transform .3s ease-in-out;
}

.alternatives:hover {
    transform: scale(1.1);
}

.alternative1,
.alternative2 {
    color: #111827;
}

.alternative3,
.alternative4 {
    color: #fff;
}

.alternative1 {
    background-color: #FBBF24;
}

.alternative2 {
    background-color: #047857;
}

.alternative3 {
    background-color: #6a38ff;
}

.alternative4 {
    background-color: #ff5a28;
}

.correct {
    background-color: #22c55e;
    color: #fff;
    border: 2px solid #16a34a;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

.incorrect {
    background-color: #ef4444;
    color: #fff;
    border: 2px solid #b91c1c;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}