.container {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 500px;
    background-color: black;
}

.container h3 {
    font-size: 2em;
}

.container div {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    background-color: blue;
}

.container p {
    font-size: 1.1em;
}

.container span {
    font-size: 2em;
    font-weight: bold;
}