.container {
    color: #eeeded;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 60vh;
}

.container h3 {
    font-size: 2em;
}

.results {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    height: 100%;
}

.container p {
    font-size: 1.1em;
}

.container span {
    font-size: 2em;
    font-weight: bold;
}