/* .container {
    background-color: #cfcfcf;
    height: 200px;
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container div {
    display: flex;
    gap: 7px;
}

.container button {
    transition: .3s;
}

.container button:hover {
    background-color: bisque;
} */

.container {
    background-color: rgb(210, 209, 209);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #333;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

.neutro {
    color: black;
}