.background {
    position: fixed;
    inset: 0;
    overflow: hidden;
    z-index: -1;
}

.background.start {
    background-color: #6D28D9;
}

.background.quiz {
    background-color: #059669;
}

.background.result {
    background-color: #2563EB;
}

.littleBall {
    position: absolute;
    border-radius: 50%;
    opacity: .2;
}

.littleBall.start {
    background-color: #A78BFA;
}

.littleBall.quiz {
    background-color: #34D399;
}

.littleBall.result {
    background-color: #A5F3FC;
}

.littleBall1 {
    height: 200px;
    width: 200px;
    top: -50px;
    left: -50px;
}

.littleBall2 {
    height: 300px;
    width: 300px;
    bottom: -100px;
    right: -50px;
}

.littleBall3 {
    height: 150px;
    width: 150px;
    top: 100px;
    right: 100px;
}

.littleBall4 {
    height: 250px;
    width: 250px;
    bottom: 100px;
    left: 100px;
}

.littleBall5 {
    height: 120px;
    width: 120px;
    top: 70px;
    right: 550px;
}

.littleBall6 {
    height: 100px;
    width: 100px;
    top: 200px;
    left: 500px;
}

.littleBall7 {
    height: 130px;
    width: 130px;
    bottom: 50px;
    left: 600px;
}

.littleBall8 {
    height: 100px;
    width: 100px;
    bottom: 220px;
    right: 430px;
}

@media (max-width: 768px) {

    /* Tablet */
    .littleBall3 {
        top: 50px;
        right: 50px;
    }

    .littleBall4 {
        bottom: 0px;
        left: -100px;
    }

    .littleBall5 {
        top: 300px;
        right: 450px;
    }

    .littleBall6 {
        top: 400px;
        left: 470px;
    }

    .littleBall7 {
        bottom: 350px;
        left: 470px;
    }

    .littleBall8 {
        bottom: 400px;
        right: 470px;
    }

}

@media (max-width: 480px) {

    /* Celular */
    .littleBall2 {
        bottom: -120px;
        right: -100px;
    }

    .littleBall3 {
        top: 100px;
        right: -50px;
    }

    .littleBall4 {
        bottom: 250px;
        left: -100px;
    }

}